{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-4">
            {% include "chat/chat_nav.html" %}
        </div>
        <div class="col-md-8">
            {% include 'chat/chat_base.html' %}
        </div>
    </div>
</div>

<script>
    let currentUser = '';
    let currentRecipient = '';

    function updateUserList2() {
        let userList = $('#user-list');
        document.getElementById('user-list').removeAttribute("onClick")
        $('.user').click(function () {
            userList.children('.active').removeClass('active');
            let selected = event.target;
            $(selected).addClass('active');
            selected.style.color = "black"
            setCurrentRecipient(selected.name, selected.getAttribute('my_id'));
        });

    }

    async function getConversation(recipient) {
        let get_message = await fetch(`message/${recipient}`)
        let data = await get_message.json()
        messageList.children('.message').remove();
        for (let i = data.length - 1; i >= 0; i--) {
            drawMessage(data[i]);
        }
        // messageList.animate({ scrollTop: messageList.prop('scrollHeight') });
    }

    async function getMessageById(message) {
        id = JSON.parse(message).message
        let get_message = await fetch(`getmessage/${id}`)
        let data = await get_message.json()
        if (data.chat_id == currentRecipient) {
            drawMessage(data);
        } else if (document.getElementById(`chat_${data.chat_id}`)) {
            let chat = document.getElementById(`chat_${data.chat_id}`)
            chat.style.color = "red"
        }
        // messageList.animate({ scrollTop: messageList.prop('scrollHeight') });
    }

    function sendMessage(recipient, text) {
        const formData = new FormData();
        formData.append('text', text);
        formData.append('csrfmiddlewaretoken ', csrftoken);
        fetch(`message/${recipient}`, {
            method: 'POST',
            body: formData
        }).catch(err => alert("Error Message Not Sent"))
    }

    function setCurrentRecipient(username, my_id) {
        currentRecipient = username;
        currentUser = my_id
        getConversation(currentRecipient);
        enableInput();
    }


    function enableInput() {
        chatInput.prop('disabled', false);
        chatButton.prop('disabled', false);
        chatInput.focus();
    }

    function disableInput() {
        chatInput.prop('disabled', true);
        chatButton.prop('disabled', true);
    }

    $(document).ready(function () {
        // updateUserList2();
        disableInput();
        chatInput.keypress(function (e) {
            if (e.keyCode == 13)
                chatButton.click();
        });

        chatButton.click(function () {
            if (chatInput.val().length > 0) {
                sendMessage(currentRecipient, chatInput.val());
                chatInput.val('');
            }
        });
    });
</script>

{% endblock %}