<div class="panel panel-info bg-light">
    <div class="panel-heading d-flex justify-content-between">
        <h4 class="panel-title" style="padding: 1%;">Chat</h4>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                . . .
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="blockFriend()">Block</a>
            </div>
        </div>
    </div>
    <div>
        <ul id="messages" class="messages">
            {# Messages go here #}
        </ul>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input id="chat-input" type="text" class="form-control input" placeholder="Type your message here ..."
                maxlength="500">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="btn-send">
                    Send</button>
            </span>
        </div>
    </div>
</div>
<script>
    let chatInput = $('#chat-input');
    let chatButton = $('#btn-send');
    let messageList = $('#messages');

    function drawMessage(message) {
        let position = 'left';
        const date = new Date(message.time);
        if (message.randomUser1 == currentUser) position = 'right';
        const messageItem = `
            <li class="message ${position}">
                <div class="avatar">ไม่ทราบ</div>
                    <div class="text_wrapper">
                        <div class="text">${message.text}<br>
                            <span class="small">${date}</span>
                    </div>
                </div>
            </li>`;
        $(messageItem).appendTo('#messages');
    }

</script>