{% extends 'base.html' %}
{% block titlez %}
Change Password
{% endblock %}
{% block main %}
    <br>
    <form action="{% url 'changePassword' %}" method="POST">
    {% csrf_token %}
        <div class='container'>
        {% for field in form %}
      <div class="form-group">
        
        {{ field.label_tag }}<br>
        {{ field }}
          
      </div>
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="form-group">
        
       <li style='color:red;'> {{ error }} </li>
          
      </div>
    {% endfor %}
    
        <button type="submit" class="btn" style="background-color:#ffe15d;">Change Password</button>
        </div>
    </form>
        
{% endblock %}