{% extends 'base.html' %}
{% block titlez %}
Change Password
{% endblock %}
{% block main %}
    <br>
    <form action="{% url 'changePassword' %}" method="POST">
    {% csrf_token %}
    <div class='container' style='background-color:pink;'>
        <div class='form-group'>
        <label for="newpassword">New Password:</label><br>
        <input type="password" name="new_password" maxlength="30" required="" id="new_password">
        </div>
        <div class='form-group'>
        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" name="confirm_password" maxlength="30" required="" id="confirm_password">
        <br><br>
        <button type="submit" class="btn" style="background-color:#ffe15d;margin-bottom:20px;">Change Password</button>
        </div>
        
        {% if error %}
        <br>
           <p style='color:red;'> *** {{error}} ***<p>
        {% endif %}
    </div>
</form>
{% endblock %}