{% extends 'base.html' %}

{% block main %}
{% load static %}
<div class='container' style='background-color:pink;'>
    <div class="media">
        <img src="{% static 'img/logo.png' %}" width="100px" class="mr-3">
        <div class="media-body">
            <h2 class="mt-0">Profile 
                {% if user.authen_user.admin %}
                    <a href='{% url "user_list"  %}'>
                        <button type="button" class="btn btn-danger">Ban</button> 
                    </a>
                {% endif %}
            </h2>
            <div class='row'>
                <div class='col-4'>Username : {{user}} </div>
            </div>
        </div>
    </div>
</div>

<div class='container'>


       {% include 'post/createPost.html' %}

    {% for post in posts %}
    {% include 'post/post_component.html' %}

    {% endfor %}

</div>
{% endblock %}