{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class='container' style='background-color:pink;'>
    <div class="media">
        <img src="{% static 'img/logo.png' %}" width="100px" class="mr-3">
        <div class="media-body">
            <h2 class="mt-0">Profile 
                <a href='{% url "logout" %}'>
                    <button type="button" class="btn btn-danger">Ban</button> 
                </a>
            </h2>
            <div class='row'>
                <div class='col-2'>Username : {{user}} </div>
            </div>
        </div>
    </div>
</div>

<div class='container'>

    <div class="card m-1">
        <form action="{% url 'create_post' %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label>Let's update your status!</label>
                    {{ form.text }}
                    <small class="form-text text-muted"> {{form.text.errors}} </small>
                </div>
                <div class="form-group row">
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% for post in posts %}
    <div class="card m-1">
        <div class="card-body">
            <footer class="blockquote-footer">{{post.time}}</footer>
            <h5 class="card-title">{{post.createBy.name}}</h5>
            <h6 class="card-text">{{post.text}}</h6>
            <a href="{% url 'view_post' post.id %}" class="card-link">View</a>
            <a onclick="distribute()" class="card-link">Distribute {{post.numberOfDistribution}}</a>
            <a href="{% url 'delete_post' post.id %}" class="card-link">Delete</a>
            <a href="{% url 'edit_post' post.id %}" class="card-link">Edit</a>
            {% comment %} {% include 'comment/comment.html'%}  {% endcomment %}
        <form action="{% url 'addComment' post.id %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label>Let's comment the POST!</label>
                    {{ form.text }}
                    <small class="form-text text-muted"> {{form.text.errors}} </small>
                </div>
                <div class="form-group row">
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </div> 
                </div>
            </div>
        </form>
    <div class='card m-1'>
        <div class="card-body">
            <h6> {{post.getComment.0.text}} </h6>
        </div>
    </div>
        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}