{% load static %}
<div class='container' style='background-color:bisque;'>
    <div class="media" id="user_{{user.id}}">
        <img src="{% static 'img/logo.png' %}" width="100px" class="mr-3">
        <div class="media-body">
            <div class='row'>
            {% if user.authen_user.ban_user == False %}
                <div class='col'><h3>Username : {{user}} </h3></div>
            {% else %}
                <div class='col'><h3>Username : <span style='color:red;'>{{user.user}}</span> </h3></div>
            {% endif %}
            </div>
            {% if user.authen_user.ban_user == False %}
            <form action="{% url "ban" user.id %}" method="POST">
                    {% csrf_token %}
                <div class="form-group">
                 <b>   หมายเหตุ : </b><input type='text' name='remark'></input>
                
                    <button type="submit" class="btn btn-danger">Ban</button> 
                    </div>
                </form>
            {% else %}
                {% comment %} <div class="form-group"> {% endcomment %}
                <h3> <b>   หมายเหตุ : </b><span style='color:red;'>{{user.remark}}</span></h3>
                {% comment %} </div> {% endcomment %}
            {% endif %}
            
        </div>
    </div>
</div>
<br>