

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class='container'>
        {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary"> submit</button>
        </div>
    </form>
