{% extends 'base.html' %}

{% block main %}

<div class='container'>

    <div class="card m-1">
        <form action="{% url 'edit_post' pk %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label>Let's update your status!</label>
                    {{ form.text }}
                    <small class="form-text text-muted"> {{form.text.errors}} </small>
                </div>
                <div class="form-group row">
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div> 
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock main %}