{% extends 'baseMain.html' %}

{% block contents %}
{% block profile%}
{% endblock %}



<div class='container'>
    {% include 'announcement/announcement_component.html' %}
    {% if user.is_authenticated %}
    {% include "post/createPost.html" %}
    {% endif %}
    
    <div class="card-body d-flex justify-content-center">
        <div class="btn-group" role="group">
            <a href="{% url 'view_random_posts' %}" class="btn btn-outline-dark px-5">Normal</a>
            <button type="button" class="btn btn-dark px-5">All post</button>
        </div>
    </div>

    {% for post in posts %}
    {% include "post/post_component.html" %}
    {% endfor %}



</div>

{% endblock contents %}