{% extends 'baseMain.html' %}

{% block contents %}
{% block profile%}
{% endblock %}
<div class='container'>
    {% include 'announcement/announcement_component.html' %}

    {% if user.is_authenticated %}
    {% include "post/createPost.html" %}
    {% endif %}
    
    <div id="random_post_list">
    <div class="card-body d-flex justify-content-center">
        <div class="btn-group" role="group">
    {% if perms.post.view_all_post %}
            <button type="button" class="btn btn-warning px-5">Normal</button>
            <a href="{% url 'view_all_posts' %}" class="btn btn-outline-warning px-5 bg-white">All post</a>
    {% endif %}
        </div>
    </div>
    {{ endif }}
    </div>
    <script>
        var allPost = []

        $(document).ready(function () {
            getRamdomPost()
        });

        function getRamdomPost() {
            fetch(`/post/api/get_random_posts/`)
                .then(res => res.json())
                .then(function (posts) {
                    for (let i = 0; i < posts.length; i++) {
                        let post_id = posts[i].id
                        let found = false
                        for (let j = 0; j < allPost.length; j++) {
                            if (allPost[j] === post_id) {
                                found = true
                            }
                        }
                        if (!found) {
                            allPost.push(post_id)
                            getPost(post_id)
                            connectPost(post_id)
                        }
                    }
                })
                .catch(err => {
                    alert("Error getRamdomPost")
                    console.log(err)
                })
        }


        function getPost(post_id) {
            fetch(`/post/api/get_post/${post_id}`)
                .then(res => res.text())
                .then(function (html) {
                    document.getElementById('random_post_list').innerHTML += html
                })
                .catch(err => {
                    alert("Error getPost")
                    console.log(err)
                })
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                getRamdomPost()
            }
        });
    </script>
</div>

{% endblock contents %}