{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Toy Chat Application">
    <title>{% block title %}Welcome{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <script src="{% static "js/post.js" %}"></script>
    <script>
        let sessionKey = '{{ request.session.session_key }}';
        var csrftoken = '{{ csrf_token }}';
    </script>
    {% block head %}
    {% endblock %}
</head>

<body style='background-color:lightgoldenrodyellow;'>
    
    <nav class="navbar navbar-expand navbar-dark mb-4"  style="background-color:#ffe15d;">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        {% comment %} ด้านซ้าย {% endcomment %}
        <ul class="nav navbar-nav">
                    <div class='container'>
                        <div class="media">
                            <img src="{% static 'img/logo.png' %}" width="50px" class="mr-3">
                            <div class="media-body">
                                <div class='row'>
                                    <div class='col-12'>
                                        <h1>
                                        {% block titlez %}{% endblock %}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </ul>
        </div>

            {% comment %} ด้านขวา {% endcomment %}
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                {% block rightnav %}
                {% if user.authen_user.admin %}
                <div class="dropdown">
                <li class="btn  dropdown-toggle" type="button" data-toggle="dropdown" style='font-size:20px;padding:0px;'>📢
                    <span class="caret"></span></li>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "add_announcement"  %}'>Add Announcemnet</a></li>
                        <li><a href='{% url "view_announcement"  %}'>View Announcemnet</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                <li class="btn  dropdown-toggle mx-3" type="button" data-toggle="dropdown"
                style='font-size:20px;padding:0px;'>🚫
                <span class="caret"></span></li>
                    <ul class="dropdown-menu">
                        <li> <a href='{% url "user_list"  %}'>All User List</a></li>
                        <li><a href='{% url "ban_list" %}'>Ban User List</a></li>
                    </ul>
                </div>
                </li>
                </div>
                {% endif %}
                <li class='mx-4' style='font-size:20px;'><a href='{% url "home" %}'>🏠</a></li>
                {% if perms.user.view_profile %}
                    <li class='mx-4' style='font-size:20px;'><a href='{% url "profile" user.id %}'>👤</a></li>
                {% endif %}
                
                
                <div class="dropdown">
                <li class="btn  dropdown-toggle mx-3" type="button" data-toggle="dropdown"
                style='font-size:20px;padding:0px;'>⚙️
                    <span class="caret"></span></li>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "changePassword"  %}'>Change Password</a></li>
                        <li><a href='{% url "logout" %}'>Logout</a></li>
                    </ul>
                </div>
                <li class='mx-4' style='font-size:20px;'><a href=''>🔔</a></li>
                {% endblock %}
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class='m-4' style='font-size:20px;'><a href='{% url "login" %}'>Login</a></li>
            </ul>
        {% endif %}
    </nav>
    
    {% block main %}
    {% endblock main%}


</body>

</html>